<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-back-button defaultHref="/tabs/movies">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-back-button>
      </ion-button>    
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/movies">Cards Movie</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label>
        <h3>Accion</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
  
    <img src="assets/images/accion/image2.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Capitan America</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="star"></ion-icon>
            <div>8.5</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>
        <h3>Aventura</h3>
        <p>Dec 10, 2019</p>
      </ion-label>
    </ion-item>
  
    <img src="assets/images/adventure/image2.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Tintin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="star"></ion-icon>
            <div>8.5</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>
        <h3>Aventura</h3>
        <p>Dec 10, 1982</p>
      </ion-label>
    </ion-item>
  
    <img src="assets/images/adventure/image3.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Indiana Jones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus iaculis mollis ligula sed ultrices.
    </ion-card-content>
  
    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>1.5k Likes</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="star"></ion-icon>
            <div>8.5</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
