
ion-content {
    --background: #bdbdba;
  
    #header {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h1 {
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
      }
  
      img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 8px solid #353434;
      }
    }
  
  }
  
ion-card {
    background-color: rgb(80, 79, 79);
    --background: rgb(80, 79, 79);
    border: none;
}