<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    
    <ion-button routerLink="/tabs/movies" expand="block" shape="round">Movie Prex</ion-button>
 
  <ion-slides [options]="option" class="ion-margin-top">
    
    
    <ion-slide>
      <ion-card>
        <img src="assets/images/accion/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
    <ion-card>
      <img src="assets/images/accion/image2.jpg">
    </ion-card>
  </ion-slide>

<ion-slide>
  <ion-card>
    <img src="assets/images/accion/image3.jpg">
  </ion-card>
</ion-slide>
    
    <ion-slide>
      <ion-card>
        <img src="assets/images/adventure/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/adventure/image2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/adventure/image3.jpg">
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <img src="assets/images/animation/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/animation/image2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/animation/image3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/comedy/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/comedy/image2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/comedy/image3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/crime/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/crime/image2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/crime/image3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/drama/image1.jpg">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img src="assets/images/fantasy/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/mistery/image1.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/images/romance/image1.jpg">
      </ion-card>
    </ion-slide>

  </ion-slides>

  
</ion-content>


